/* patch box model */
* {
  box-sizing: border-box;
}

/* overall page structure */
body {
  margin: 0;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #09F;
  background-image: linear-gradient(to bottom right, #049, #858);
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: min-content min-content auto min-content;
}

body>header {
  grid-row: 1 / auto;
  padding: 1vh 1vw;
  background-color: #999;
  background-image: linear-gradient(to bottom right, white, silver);
  box-shadow: 0px 0px 1rem black;
}

#messages {
  grid-row: 2 / auto;
  padding: 1ex;
  background-color: #999;
  background-image: linear-gradient(to bottom right, white, silver);
  border: 0.5ex outset #777;
  margin-top: 1ex;
  width:100vw;
}

#messages:empty {
  display:none;
}

body>main {
  grid-row: 3 / auto;
  width: 100vw;
  padding: 1vh 0;
}

body>footer {
  grid-row: 4 / auto;
  width: 100vw;
  padding: 1vh 1vw;
  background-color: black;
  font-size: 1rem;
  box-shadow: 0px 0px 1em black;
}

/* header elements */
body>header h1 {
  font-size: 3rem;
  text-align: center;
  margin: 1rem auto;
}

/* main elements and main positioning */
body>main {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center;
}

body>main>section {
  width: 100vw;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media (min-width: 30em) {
  body>main>section {
    width: 29em;
    margin: 0.5em;
  }

  #messages {
    width: auto;
    margin: 1em;
  }
}