/* Panel-Container */

.panel-container {  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: center;
}

/* Überschrift für Panels */

h1.panel-heading {
  margin: 0.5em 0;
  padding: 0.125em 0;
  height: 1.5em;
  color: white;
  background-size: contain;
  background-repeat: space;
  background-blend-mode: difference;
}

/* Panel-Elemente */

.panel {
  background-color: #999;
  background-image: linear-gradient(to bottom right, white, silver);
  border: 0.5ex outset #777;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

@media (min-width: 30em) {
  .panel {
    width: 29em;
    margin: 0.5em;
  }
}

@media (min-width: 90em) {
  .panel {
    width: 44em;
    margin: 0.5em;
  }
}

/* gruppierende Elemente */

.panel>* {
  padding: 0.5ex;
}

/* header und header-Action-Button */

.panel>header {
  border-bottom: 0.3ex solid black;
  margin-bottom: 0.5ex;
  background-image: linear-gradient(to top, white, silver);
  display:grid;
  grid-template-rows: 3em 1fr;
  grid-template-columns: 3em 1fr 3em;
  justify-content: space-between;
  align-items: center;
}

.panel>header>h1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  text-align: center;
  font-size: 2em;
  grid-column: 1 / span 3;
  grid-row: 2 / auto;
}

.panel>header a {
  text-decoration: none;
  color: black;
  width: 100%;
  display: inline-block;
}

.panel>header img {
  width: 2.5em;
}

.panel>header>img {
  grid-column: 1 / auto;
  grid-row: 1 / auto;
  margin: auto;
}

.panel>header>form {
  grid-column: 3 / auto;
  grid-row: 1 / auto;
  margin: auto;
}

.panel>header>form>button {
  padding: 0;
}

@media (min-width: 25em) {
  .panel>header {
    grid-template-rows: 1fr;
    grid-template-columns: 3em 1fr 3em;
    justify-content: space-around;
    justify-content: space-evenly;
  }

  .panel>header>h1 {
    grid-row: 1 / auto;
    grid-column: 2 / auto;
  }
}

/* Panel-Footer */
.panel>footer {
  border-top: 0.3ex solid black;
  background-image: linear-gradient(to bottom, white, silver);
  margin-top: 0.5ex;
}

.panel>footer p {
  margin: 0.25ex 0ex;
  text-align: center;
}

/* Panel-Effekte */

.panel:target, .panel:focus {
  box-shadow: white 0em 0em 1em 0.5em;
}

/* Statusmeldungen */

.panel>p {
  text-align: center;
}