/* Überschrift für Panels */

h1.panel-heading:nth-of-type(2) {
  background-image: url(../svg/gears.svg);
}

/* panel-header */

.panel.service>header>h1 {
  font-size: 1.5em;
}

/* Server-Link */

.panel.service p.server {
  text-align: center;
  margin: auto;
  display: block;
  margin: 0.5ex;
}

.panel.service p.server>a {
  display:grid;
  font-size: 1.5em;
  grid-template-rows: 1.5em 1fr;
  grid-template-columns: 1.5em 1fr 1.5em;
  text-decoration: none;
  color: black;
  background-color: #999;
  background-image: linear-gradient(to bottom right, white, silver);
  border: 0.25ex outset #777;
}

.panel.service p.server>a:active {
  border-style: inset;
}

.panel.service p.server>a>img {
  margin: auto;
  width: 1em;
}

.panel.service p.server>a>img:first-of-type {
  grid-column: 1 / auto;
  grid-row: 1 / auto;
}

.panel.service p.server>a>span {
  grid-column: 1 / span 3;
  grid-row: 2 / auto;
  padding: 0 0.5ex;
}

.panel.service p.server>a>img:last-of-type {
  grid-column: 3 / auto;
  grid-row: 1 / auto;
  margin: auto;
}

@media (min-width: 25em) {
  .panel.service p.server>a {
    grid-template-rows: 1fr;
    grid-template-columns: 1.5em 1fr 1.5em;
    justify-content: space-around;
    justify-content: space-evenly;
  }

  .panel.service p.server>a>span {
    grid-row: 1 / auto;
    grid-column: 2 / auto;
  }
}

/* Status-Effekte */

.panel.service.status-running {
  background-color: #9f9;
  border-color: #181;
  background-image: linear-gradient(to bottom right, white, silver, white, #c0ffc0);
}
.panel.service.status-running>header, .panel.service.status-listening>footer {
  border-color: #181;
}
.panel.service.status-running>header>form img {  
  background-image: radial-gradient(#c0ffc0, transparent);
}

.panel.service.status-off {
  background-color: #f99;
  border-color: #811;
  background-image: linear-gradient(to bottom right, white, silver, white, #ffc0c0);
}
.panel.service.status-off>header, .panel.service.status-off>footer {
  border-color: #811;
}
.panel.service.status-off>header>form img {  
  background-image: radial-gradient(#ffc0c0, transparent);
}