.server {
  background-color: #999;
  background-image: linear-gradient(to bottom right, white, silver);
  border: 0.5ex outset #777;
}

/* gruppierende Elemente */

.server>* {
  padding: 0.5ex;
}

/* header und header-Action-Button */

.server>header {
  border-bottom: 0.3ex solid black;
  margin-bottom: 0.5ex;
  background-image: linear-gradient(to top, white, silver);
  display:grid;
  grid-template-rows: 3em 1fr;
  grid-template-columns: 3em 1fr 3em;
  justify-content: space-between;
  align-items: center;
}

.server>header>h1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  text-align: center;
  font-size: 2em;
  grid-column: 1 / span 3;
  grid-row: 2 / auto;
}

.server>header img {
  width: 2.5em;
}

.server>header>img {
  grid-column: 1 / auto;
  grid-row: 1 / auto;
  margin: auto;
}

.server>header>form {
  grid-column: 3 / auto;
  grid-row: 1 / auto;
  margin: auto;
}

.server>header>form>button {
  padding: 0;
}

@media (min-width: 25em) {
  .server>header {
    grid-template-rows: 1fr;
    grid-template-columns: 3em 1fr 3em;
    justify-content: space-around;
    justify-content: space-evenly;
  }
  
  .server>header>h1 {
    grid-row: 1 / auto;
    grid-column: 2 / auto;
  }
}

/* Statusmeldungen */

.server>p {
  text-align: center;
}

/* Service-Liste */

ul.services {
  text-align: center;
}

ul.services li {
  list-style-type: none;
}

/* Status-Effekte */

.server.status-listening {
  background-color: #9f9;
  border-color: #181;
  background-image: linear-gradient(to bottom right, white, silver, white, #c0ffc0);
}
.server.status-listening>header {
  border-bottom-color: #181;
}
.server.status-listening>header>form img {  
  background-image: radial-gradient(#c0ffc0, transparent);
}

.server.status-running {
  background-color: #ff9;
  border-color: #881;
  background-image: linear-gradient(to bottom right, white, silver, white, #ffffc0);
}
.server.status-running>header {
  border-bottom-color: #881;
}
.server.status-running>header>form img {
  background-image: radial-gradient(#ffffc0, transparent);
}

.server.status-off {
  background-color: #f99;
  border-color: #811;
  background-image: linear-gradient(to bottom right, white, silver, white, #ffc0c0);
}
.server.status-off>header {
  border-bottom-color: #811;
}
.server.status-off>header>form img {  
  background-image: radial-gradient(#ffc0c0, transparent);
}