/* Service-Liste */

ul.services {
  text-align: center;
  margin: 0.5em 0.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

ul.services>li {
  list-style-type: none;
  display: block;
}

ul.services>li>a {
  display:grid;
  font-size: 2em;
  grid-template-rows: 1.25em 1fr;
  grid-template-columns: 1.25em 1fr 1.25em;
  text-decoration: none;
  color: black;
  background-color: #999;
  background-image: linear-gradient(to bottom right, white, silver);
  border: 0.25ex outset #777;
}

ul.services>li>a:active {
  border-style: inset;
}

ul.services a>img {
  margin: auto;
  width: 1em;
}

ul.services a>span {
  grid-column: 1 / span 3;
  grid-row: 2 / auto;
}

@media (min-width: 25em) {
  ul.services>li>a {
    grid-template-rows: 1fr;
    grid-template-columns: 1.25em 1fr 1.25em;
    justify-content: space-around;
    justify-content: space-evenly;
  }

  ul.services a>span {
    grid-row: 1 / auto;
    grid-column: 2 / auto;
  }
}

/* Status-Effekte */

.server.status-listening {
  background-color: #9f9;
  border-color: #181;
  background-image: linear-gradient(to bottom right, white, silver, white, #c0ffc0);
}
.server.status-listening>header {
  border-bottom-color: #181;
}
.server.status-listening>header>form img {  
  background-image: radial-gradient(#c0ffc0, transparent);
}

.server.status-running {
  background-color: #ff9;
  border-color: #881;
  background-image: linear-gradient(to bottom right, white, silver, white, #ffffc0);
}
.server.status-running>header {
  border-bottom-color: #881;
}
.server.status-running>header>form img {
  background-image: radial-gradient(#ffffc0, transparent);
}

.server.status-off {
  background-color: #f99;
  border-color: #811;
  background-image: linear-gradient(to bottom right, white, silver, white, #ffc0c0);
}
.server.status-off>header {
  border-bottom-color: #811;
}
.server.status-off>header>form img {  
  background-image: radial-gradient(#ffc0c0, transparent);
}